/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap_custom';

html,body {
  background: #FFFFFA;
  font-family: "M PLUS Rounded 1c", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif;
}

button:focus {outline:0;}


a {
  color: #3a3a3a;
}

nav {
  background: #fff;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.navbar.navbar-light a {
  color: #ff8080;
}

.navbar.nav-link {
  font-size: 16px;
}

.navbar-brand {
  color: #ff8080;
  font-weight: 900;
  font-size: 36px !important;

  &:hover {
    color: #ff8080b5 !important;
  }
}

.card-header {
  background: #fff;
  border-bottom: 2px solid #ff8080;
  font-weight: 900;
}

.card-body {
  background: #fff;
}

h1,h2,h3,h4,h5,h6 {
  color: #3a3a3a;
}

.subtext {
  color: #989393
}

.badge {
  user-select: none;
  padding: 8px 12px;
  background: #f7f7f7;
  border-radius: 4px;
  cursor: pointer;
  color: #666;
  margin-right: 4px;
  font-size: 12px;
  font-weight: 400;
}

.username-link {
  color: #3a3a3a;
}

.answer-actions {
  background: none;
  border: none;
  font-size: 12px;
  padding: 0;

  a {
    color: #6c757d;
  }
}

.btn-plain {
  background: none;
  border: none;
  padding: 0;
}

.btn-pop {
  background: #ffe98a;
  color: #212529;
  border: #ffe98a;
  font-weight: 700;
}

.btn-pop-dark {
  background: #ff8080;
  color: white;
  border: #ffe98a;
  font-weight: 700;

  &:hover {
    color: #FFFFFA;
  }
}

.question_title {
  background: #ffe98a;
  padding: 1.5rem;
  border-radius: 40px;
  display: inline-block;
}

.answer_content_container {
  background: #fff;
  padding: 1.5rem;
  border-radius: 40px;
  display: inline-block;
  font-size: 18px;
}

.social-cta {
  &:hover {
    color: #ff8080;
    transition: 0.3s;
    text-decoration: none;
  }
}